body {
    width: 1440px;
    color: var(--text);
    background-color: var(--white-background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    letter-spacing: 0.02em;
}


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-header {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

.mob-menu {
    display: none;
}

header {
    width: 100%;
    height: 72px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 32px;
    height: 22px;
    right: 16px;
    top: 24px;
    cursor: pointer;
}

.svg-hamburger {
    width: 32px;
    height: 22px;
    stroke: var(--dark);


}

.navigation {
    display: flex;
    align-items: center;
}

.logotype {
    display: inline-block;
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
}

.color {
    color: var(--dark);
}

:root {
    --brand-color: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

ul {
    padding-left: 0;
    margin: 0;
}

.logo {
    color: var(--dark);

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.nav-menu {
    padding: 26px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-decoration: none;
}

.address {
    padding-top: 24px;
    font-style: normal;
    margin-left: auto;
}

.list-address {
    list-style: none;
    gap: 40px;
    display: flex;
}

.address li a {
    font-style: normal;
    color: var(--text);
    text-decoration: none;
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


address li a:hover {
    color: var(--pressed-state);
}

address li a:focus {
    color: var(--pressed-state);
}

nav li a {
    text-decoration: none;
    color: var(--text);
}

nav li a:hover,
nav li a:focus {
    color: var(--pressed-state);
}

.section-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 1440px;
    background-color: var(--hero-background);
    padding: 188px 0;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-officeX2.jpg);
    }
}

.main-text {
    max-width: 496px;
    margin-top: 0;
    margin-left: 331px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
}

.order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: 495px;
    background-color: var(--brand-color);
    color: var(--white-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.order-button:hover,
.order-button:focus {
    background-color: var(--pressed-state);
}

.section {
    position: relative;
}

.styling {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

.icon {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 112px;
    background-color: var(--light);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

.svg-studio-second-section {
    width: 64px;
    height: 64px;
}

.second {
    padding: 120px 0;
}


.about-list {
    display: flex;
    gap: 24px;
}

.about-list>li {
    width: calc((100% - 72px) / 4);
}

.about {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark);
    letter-spacing: 0.02em;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.parag-fourth {
    text-align: center;
}

.third {
    padding-bottom: 120px;
}

.about-section {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

.doing {
    margin-top: 72px;
    display: flex;
    gap: 24px;
}

.doing li {
    width: calc((100% - 48px) / 3);
}

.our-team {
    background-color: var(--light);
    padding: 120px 0;
    padding-top: 120px;
    box-sizing: border-box;
}

.staff {
    width: 1128px;
    display: flex;
    gap: 24px;
    margin-bottom: 0;
}

.person {
    display: block;
    width: calc((100% - 72px) / 4);
    background-color: var(--white-background);
    margin-top: 72px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.content {
    padding: 32px 16px;
}

.worker {
    margin-top: 0;
    text-align: center;
    margin-bottom: 8px
}

.person>.about {
    margin-top: 32px;
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.soc-a {
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.soc-a:hover,
.soc-a:focus {
    background-color: var(--pressed-state);

}

.soc-list-footer li a {
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-soc-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .a-soc-footer:hover {
    background-color: var(--success);
}


.footer .a-soc-footer:focus {
    background-color: var(--success);
}


.svg-studio-fourth-section {
    width: 16px;
    height: 16px;
    fill: var(--light);
    /* margin-top: 12px; */
}

.soc {
    width: 40px;
    height: 40px;
    border-radius: 90%;
    background-color: var(--brand-color);
}

.rectangle {
    width: calc((100% - 120px) / 6);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.five {
    margin-bottom: 72px;
}

.customers {
    margin-top: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}

.customer-list {
    display: flex;
    gap: 24px;
}


.customer-link {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--subtle-text);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.customer-link:hover,
.customer-link:focus {
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}

.svg-studio-fifth-section {
    fill: currentColor;
}

.footer {
    background-color: var(--dark);
    display: flex;
    box-sizing: border-box;
    padding: 100px 0;
    /* width: 100%;
    height: 312px; */
}

.footer a {
    flex-direction: row;
}

.bott {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
}

.flex {
    margin-right: 120px;
    display: flex;
    align-items: baseline;
}

.bott.link {
    margin-bottom: 0;
}

.paragraph-footer {
    width: 264px;
    height: 72px;
    color: var(--light);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* margin-bottom: 16px; */
}

.soc-footer-p {
    font-weight: 500;
    margin: 0;
}

.soc-list-footer {
    display: flex;
    gap: 16px;
    width: 100%;
}

.social-media {
    margin-left: 120px;
    color: var(--white-background);
}

.social-media p {
    margin-bottom: 16px;
}

.svg-studio-footer-section {
    width: 24px;
    height: 24px;
    /* margin-left: 8px;
    margin-top: 8px; */
    fill: var(--light);
}

.spec {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-left: 16px;
    margin-bottom: 8px
}

.portfolio {
    padding: 96px 0 120px;
}

.func {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    margin-left: 16px;
}

.filters-button {
    /* height: 48px; */
    padding: 12px 24px;
    color: var(--brand-color);
    background-color: var(--light);
    border: 1px solid var(--accent);
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
}

.filters-button:hover,
.filters-button:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.color-footer {
    color: var(--light);
}

.port {
    width: 1136px;
    display: flex;
    justify-content: center;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.application {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.application:hover,
.application:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    /* transform: translateY(0%); */

}

.application:hover .type-cover-text,
.application:focus .type-cover-text {
    transform: translateY(0%);

}

.type {
    margin-right: 0px;
    border: 1px solid #E7E9FC;
}


.type:hover .type-cover-text,
.type:focus .type-cover-text {
    transform: translateY(0);

}

.port-page {
    margin-top: 120px;
}


.container-type {
    box-sizing: border-box;
    width: 360px;
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.footer-container {
    align-items: baseline;
    display: flex;
    /* margin-right: 120px; */
}

.soc-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.soc-list-footer li {
    width: 40px;
    height: 40px;
}

.soc-list-footer li a {
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-list-footer li a:hover {
    background-color: var(--success);
}



.type-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: var(--light);
    background-color: var(--brand-color);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.type-cover-wrap {
    position: relative;
    overflow: hidden;
}

.folio {
    color: var(--pressed-state);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop {
    position: fixed;
    width: 1440px;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    background-color: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.contact-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 428px;
    min-height: 796px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    background-color: var(--modal-background);
    display: flex;
    flex-direction: column;
}

.cross {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross:hover,
.cross:focus {
    border: none;
    background-color: var(--pressed-state);
    fill: var(--white-background);
}

.cross-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 8px;
    height: 8px;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.subscribe {
    margin-left: 80px;
    height: 80px;
    color: var(--white-background);
}

.input-subscribe {
    width: 264px;
    background-color: transparent;
    border: 1px solid var(--white-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 40px;
    font-size: 12px;
    color: var(--white-background);
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 15px;
}

.input-button {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    color: var(--white-background);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;

}

.input-button-svg {
    margin-left: 16px;

}

.context-modal {
    margin-bottom: 8px;
}

.context-text {
    margin-bottom: 16px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    color: var(--dark);
}

.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span-modal {
    margin-left: 24px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--subtle-text);
    margin-bottom: 4px;

}

.backdrop {
    width: 100%;
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--brand-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--brand-color);
}


.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-top: 0;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--brand-color);
}

.check-input {
    box-sizing: border-box;
    margin-top: 16px;
    margin-left: 24px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-color: red;
}

.cont {
    margin-bottom: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-input:checked+.policy span {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--light);

}

.span-svg {
    width: 16px;
    height: 16px;
    position: absolute;
}

.privacy {
    margin-bottom: 24px;

}


.studio {
    color: var(--pressed-state);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folio {
    position: relative;
}

.studio::after,
.folio::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
}


.policy {
    margin-left: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
}

.label-span {
    display: inline-flex;
    position: absolute;
    margin-top: 5px;
    left: 24px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.send {
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--brand-color);
    color: var(--white-background);
    font-size: 16px;
    line-height: 1.5;
    display: block;
    letter-spacing: 0.04em;
    margin-left: 95px;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
}


.send:hover,
.send:focus {
    background-color: #404BBF;
}

.form-p {
    margin-bottom: 16px;
}

.label-a {
    color: var(--brand-color);
}



.check-text span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked+.check-text span {
    color: green;
    background-color: #ff6c00;
    border: none;
    fill: #d0efc1;
}


/* Media */

@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        width: 428px;
        /* overflow-x: hidden; */
    }

    .container {
        width: 100%;
    }


    header {
        height: 70px;
    }

    .menu {
        display: none;
    }

    .mob-menu {
        display: block;
    }

    .address {
        display: none;
    }

    .section-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobile.jpg);
        padding: 112px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobile-2x.jpg);


        }
    }

    .menu-toggle {
        display: block;
    }

    .main-text {
        max-width: 320px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .order-button {
        margin: 0 auto;
    }

    .icon {
        display: none;
    }

    .about-list {
        flex-direction: column;
        margin-top: 0;
        gap: 72px
    }


    .about {
        margin-top: 0;
        width: 396px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }


    .paragraph {
        width: 396px;
        color: var(--text);
        font-weight: 500;
    }

    .third {
        display: none;
    }

    .staff {
        width: 100%;
        flex-direction: column;
        margin-left: -20px;
    }

    .person {
        width: 264px;
        margin-left: 82px;
    }

    .worker {
        margin: 0 auto;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        width: 140px;
    }

    .parag-fourth {
        width: 232px;
    }

    .customer-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        width: 396px;
    }

    .rectangle {
        width: calc((100%-16px)/2);
        height: 88px;
        flex-basis: 50%;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        margin-bottom: 72px;
    }

    .logo-footer a {
        margin-left: 75px;
        text-align: center;
    }

    .input-button {
        flex-direction: column;
    }

    .paragraph-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .social-media p {
        text-align: center;
    }

    .social-media {
        margin-bottom: 72px;
        margin-left: -15px;
    }

    .form-p {
        text-align: center;
    }

    .subscribe {
        margin-left: 0;
    }

    .button-subscribe {
        width: 165px;
        height: 40px;
        margin: 0 auto;
    }

    .input-subscribe {
        padding-left: 15px;
        width: 398px;
    }


    .modal {
        width: 392px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}


@media screen and (min-width:768px) and (max-width: 1157px) {

    body {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    header {
        width: 100%;
        height: 72px;
    }

    .section-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-2x.jpg);
        }
    }

    .menu-toggle {
        display: none;
    }

    .list-address {
        display: block;

    }

    .address {
        padding-top: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .menu {
        margin-left: 35px;
    }

    .section {
        width: 100%;
    }

    .section-main {
        width: 100%;
        height: 436px;
        padding-top: 112px;
        margin-right: 0;
    }

    .main-text {
        margin: 0 auto;
        margin-bottom: 36px;
    }

    .order-button {
        margin: 0 auto;
    }

    .icon {
        display: none;
    }

    .section {
        display: flex;
        justify-content: center;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        margin-top: 0;
    }

    .info {
        width: 356px;
        height: 120px;
    }

    .paragraph {
        width: 356px;
    }

    .third {
        display: none;
    }

    .our-team {
        padding: 96px 108px;
    }

    .staff {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }


    .person {
        width: 264px;
    }

    .worker {
        margin: 0 auto;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        width: 140px;
    }

    .parag-fourth {
        width: 232px;
    }

    .customers {
        padding: 96px 93px;

    }


    .customer-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 72px;
        margin-right: 0;
    }

    .footer {
        width: 100%;
        padding: 96px 93px;

    }

    .footer-container {
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .logo-footer {
        width: 264px;
    }

    .input-subscribe {
        width: 264px;
        padding-left: 15px;
    }

    .social-media {
        margin-left: 24px;
    }

    .subscribe {
        margin-left: 0;
    }
}



img {
    max-width: 100%;
    height: auto;
}



.mob-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 34px;
}


.mob-address {
    margin-top: 284px;
    text-decoration: none;
    font-style: normal;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-mail {
    color: var(--text);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.primary {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--pressed-state);
}

.mobile-soc {
    gap: 56px;
    padding: 0;
    width: 328px;
    margin-top: 48px;
}

.mob-menu {
    position: fixed;
    background-color: var(--white-background);
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.mob-menu.is-open {
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
}

.mob-menu-li {
    color: var(--dark);
}

.cross-mobile {
    margin-left: 340px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    color: var(--pressed-state);
}